* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px; 
    grid-template-columns: 1fr; 
    grid-template-areas: "header""menu""content""footer"; 
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: dodgerblue; 
    padding: 10px;
    border: 1px solid black;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.rect {
    width: 60%;
    height: 150px;
    background-color: rgba(255, 255, 0, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; 
    border: 1px solid black;
}

.cuadrados {
    display: flex;
    justify-content: space-between;
    width: 60%; 
    border: 1px solid black;
}

.cuadrado {
    width: 34%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 239, 239);
    font-size: 20px;
    border: 1px solid black;
}

.cuadrado.gris {
    background-color: rgb(51, 51, 51);
    border: 1px solid black;

}

.cuadrado.azul {
    background-color: rgb(32, 32, 202);
    border: 1px solid black;

}

.cuadrado.rosa {
    background-color: rgb(156, 20, 127);
    border: 1px solid black;

    /*color: black;*/ 
}

.footer {
    grid-area: footer;
}